<div class="container">
<img class="pokemon-image" src="{{image}}" alt="{{name}}">
<h2>{{this.name}}</h2>
<p>Type: {{this.type}}</p>
<p>Type2: {{this.type2}}</p>
<p>Number: {{this.number}}</p>
<a href="/pokemon/{{this.id}}" class="btn btn-primary">{{this.name}} I choose you!</a>
</div>
